{
  "presets": ["module:metro-react-native-babel-preset"],
  "sourceMaps": true,
  "plugins": [
    ["@babel/plugin-proposal-decorators", {
      "legacy": true
    }],
    ["@babel/transform-runtime", {
      "helpers": true,
      "regenerator": false
    }],
  ],
  "esnv": {
    "production": {
      "plugins": ["transform-remove-console"]
    }
  }
}
